#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
   width: 85vw;
   display: grid;
   grid-template: auto auto / minmax(312px,1fr) 624px minmax(312px,1fr);
   grid-gap: 12px;
   > *:not(.no-border) {
      outline: 2px solid hsl(0,0%,20%);
      border-radius: 16px;
      padding: 8px;
   }
   #trailer-dimensions-container {
      display: grid;
      grid-template-columns: 3fr 1fr 1fr;
      align-items: center;
      /*text baseline*/
      grid-gap: 5px;
      font-size: smaller;
      & h3 {
        align-self: start;
      }
      & input {
         width: 80%;
         height: 20px;
      }
      .divided {
         border-bottom: 2px solid hsl(0,0%,10%);
      }
      [disabled] {
         filter: brightness(50%);
      }
      #tandem-slider-container {
         line-height: 25px;
         height: 25px;
         & span {
            position: relative;
            bottom: 5px;
         }
         #tandem-slider {
            width: 80%;
            margin: 0 10px;
         }
      }
      #destination-state {
         font-family: monospace;
      }
      & a {
         font-size: x-small;
      }
   }
   #loaded-weight-container {
      position: relative;
      font-size: 1.4em;
      > div {
         position: absolute;
         text-align: right;
         right: 10px;
      }
   }
   #zoom-container {
      outline: 2px solid hsl(0,0%,20%);
      border-radius: 16px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      #zoom-slider {
         width: calc(100% - 4.8em - 41px);
      }
   }
   #load-diagram {
      border: 1px solid white;
   }
}

hr {
   width: 90%;
   border: 1.5px solid hsl(0,0%,10%);
   margin-top: 5px;
   margin-bottom: 20px;
}

h3, #zoom-label {
   color: hsl(0,0%,40%);
   margin: 0;
   font-size: 20px;
   font-weight: bold;
}
