#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

hr {
   width: 90%;
   border: 1px solid hsl(0,0%,10%);
   margin-top: 5px;
   margin-bottom: 20px;
}

#zoom-div {
   outline: 2px solid hsl(0,0%,20%);
   border-radius: 16px;
   padding: 8px;
   display: flex;
   flex-direction: column;
   & label {
      color: hsl(0,0%,40%);
      font-size: 1.4em;
   }
   & #zoom-slider {
      width: calc(100% - 4.8em - 41px);
   }
}



canvas {
   border: 1px solid white;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
