#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
   width: 85vw;
   display: grid;
   grid-template: auto auto / 1fr 2.2fr 1fr;
   grid-gap: 12px;
   > *:not(.no-border) {
      outline: 2px solid hsl(0,0%,20%);
      border-radius: 16px;
      padding: 8px;
   }
   #trailer-dimensions-container {
      display: grid;
      grid-template-columns: 3fr 1fr 1fr;
      align-items: center;
      grid-gap: 5px;
      & h3 {
        align-self: start;
      }
      & input {
         width: 40px;
         height: 20px;
      }
   }
   #loaded-weight-container {
      position: relative;
      font-size: 1.4em;
      > div {
         position: absolute;
         text-align: right;
         right: 10px;
      }
   }
   #zoom-container {
      outline: 2px solid hsl(0,0%,20%);
      border-radius: 16px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      #zoom-slider {
         width: calc(100% - 4.8em - 41px);
      }
   }
   #load-diagram {
      border: 1px solid white;
   }
}

hr {
   width: 90%;
   border: 1px solid hsl(0,0%,10%);
   margin-top: 5px;
   margin-bottom: 20px;
}

h3, #zoom-label {
   color: hsl(0,0%,40%);
   margin: 0;
   font-size: 20px;
   font-weight: bold;
}
